# ========================
# 📱 React Native CLI
# ========================

# Node modules
node_modules/

# macOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables & secrets
.env
*.keystore
*.jks

# Metro bundler cache
.expo/
.expo-shared/
.expo-web/
.cache/

# iOS build artifacts & dependencies
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace

# Android build artifacts
android/.gradle/
android/app/build/

# IDEs & editors
.vscode/
.idea/

# Buck build system
buck-out/
.buckd/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Coverage
coverage/

# Temporary files
*.swp
*.swo
*.tmp
*.orig
*.hprof

# Misc
react-native-debugger.json